* {
  font-family: "JetBrainsMono Nerd Font", monospace; }

window.bar {
  background-color: #181e28;
  color: #f9fcff; }

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent; }

button:active {
  background-color: #ed8173; }

button:hover {
  border-bottom: 3px solid #f9fcff; }

label {
  font-weight: bold; }

.workspaces button.focused {
  border-bottom: 3px solid #ed8173; }

.client-title {
  color: #ed8173; }

.notification {
  color: yellow; }

levelbar block,
highlight {
  min-height: 10px; }
